// style.scss
// ==============

//@import
html
{
    font-size: 16px;
}
body
{
    color: #fff;
    background: linear-gradient(to left, #283048 , #859398);
}
.wrapper
{
    display: flex;
    flex-direction: column;

    height: 100vh;

    justify-content: space-between;
}
.header__wrapper
{
    display: flex;

    margin-bottom: 1vh;

    border-bottom: 1px solid white;
    background: rgba(000, 000, 000, .7);

    align-items: center;
    justify-content: space-around;
}
.header__logo
{
    margin: 0 2vh;
}
.header__title
{
    flex: 1;
}
.header__form
{
    display: flex;

    height: 50%;
    label
    {
        margin-right: 2vh;

        align-self: center;
    }
}
.header__btn
{
    height: 50%;
    // use vh unit for fit with .search margin
    margin: 0 2vh;
}
.content__wrapper
{
    overflow: auto;
    flex: 1;
}
.content__grid
{
    display: flex;

    padding: 0 1vh;

    flex-wrap: wrap;
    justify-content: space-between;
}
.content__item
{
    flex: 1 0 (100/3) - 2%;

    box-sizing: border-box;
    margin: 1vh;
    padding: 0 1em 1em 1em;

    border: 1px solid white;
    background: rgba(000, 000, 000, .7);
}
.searchmatch
{
    font-weight: bold;
    font-style: italic;

    color: #f2f2f2;
}
ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.footer__wrapper
{
    display: flex;

    margin-top: 1vh;

    border-top: 1px solid white;

    justify-content: space-around;
    align-items: center;
}
.footer__social
{
    display: flex;

    border: 1px solid white;

    justify-content: center;
}
.footer__social__icon
{
    margin: 0 1rem;
}
.fa
{
    color: white;
}
.footer__credits
{
    border: 1px solid white;
}
