html {
  font-size: 16px; }

body {
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#283048), to(#859398));
  background: -webkit-linear-gradient(right, #283048, #859398);
  background: linear-gradient(to left, #283048, #859398); }

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.header__logo {
  padding: 0 1em; }

.header__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header__form {
  padding: 0 1em; }

.header__btn-random {
  margin: 0 1em; }

.content__wrapper {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.content__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.33333%;
      -ms-flex: 0 0 31.33333%;
          flex: 0 0 31.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1.5em 1% 1.5em 1%;
  padding: 1em;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.7); }

span {
  font-weight: bold;
  font-style: italic;
  color: #f2f2f2; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer__wrapper {
  border-top: 1px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__social {
  border: 1px solid white;
  font-size: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__social__icon {
  margin: 0 1rem; }

.fa {
  color: white; }

.footer__credits {
  border: 1px solid white; }
