/* source https://github.com/lukehaas/css-loaders */
.loader,
.loader:before,
.loader:after {
  background: #e2e2e2;
  -webkit-animation: load1 1s infinite ease-in-out;
          animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader {
  color: #e2e2e2;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em; }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em; }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em; } }

/**
 *
 * Variables
 *
 */
/**
 *
 * Style
 *
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Domine", serif; }

body {
  color: #e2e2e2;
  background-color: #291621;
  background-image: url("data:image/svg+xml, %3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM60 91c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM35 41c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM12 60c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2z' fill='%23ef1197' fill-opacity='0.34' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  margin-bottom: 1vh;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 60em) {
    .header__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1vh 2vw; } }

.header__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 60em) {
    .form {
      margin: 1em 0; } }

label {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin-right: 1em; }

input {
  background-color: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  color: #e2e2e2;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0 0.5em;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
  input:focus, input:active {
    border-color: #ef1197;
    outline-color: #ef1197; }

.btn {
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  color: #e2e2e2;
  padding: 0.5em 1em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .btn:hover, .btn:focus, .btn:active {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
    border-color: #ef1197;
    outline-color: #ef1197; }
    .btn:hover .fa, .btn:focus .fa, .btn:active .fa {
      color: #ef1197; }

.form .btn {
  margin: 0 1em; }

.content__wrapper {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1vh;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 60em) {
    .content__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }

/* .content__grid {
}
 */
.item__title {
  display: inline-block;
  color: #e2e2e2;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }

.content__item {
  padding: 0 1em 1em;
  margin: 1vh;
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 31.33333%;
      -ms-flex: 1 0 31.33333%;
          flex: 1 0 31.33333%;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .content__item:hover {
    background: rgba(0, 0, 0, 0.9);
    border-color: #ef1197; }
    .content__item:hover .item__title {
      color: #ef1197; }
      .content__item:hover .item__title::after {
        content: "\2190";
        position: absolute;
        -webkit-animation: arrow 0.8s 0.5s 5 ease-in;
                animation: arrow 0.8s 0.5s 5 ease-in; }

.searchmatch {
  font-weight: bold;
  color: #f2f2f2; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vh;
  padding: 2vh 0;
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2; }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__social__icon {
  margin: 0 1rem;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .footer__social__icon:hover .fa {
    color: #ef1197; }

.fa {
  color: #e2e2e2;
  -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }

@-webkit-keyframes arrow {
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }

@keyframes arrow {
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); } }
