/**
 *
 * Variables
 *
 */
/**
 *
 * Style
 *
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

body {
  color: #e2e2e2;
  background-color: #291621;
  background-image: url("data:image/svg+xml, %3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM60 91c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM35 41c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2zM12 60c1.15 0 2-0.895 2-2s-0.895-2-2-2-2 0.895-2 2 0.895 2 2 2z' fill='%23ef1197' fill-opacity='0.34' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2vw;
  margin-bottom: 1vh;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  @media screen and (max-width: 50em) {
    .header__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1vh 2vw;
      -webkit-align-content: space-between;
          -ms-flex-line-pack: justify;
              align-content: space-between; } }

.header__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50%; }

label {
  margin-right: 1vw;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center; }

input {
  background-color: rgba(0, 0, 0, 0.6);
  color: #e2e2e2;
  border-color: rgba(255, 255, 255, 0.2); }
  input:focus, input:active {
    border-color: #ef1197;
    outline-color: #ef1197; }

.random-link {
  height: 50%;
  margin-left: 2vh;
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  color: #e2e2e2;
  padding: 0.5em 1em;
  border: 2px solid rgba(255, 255, 255, 0.2); }
  .random-link:hover, .random-link:focus, .random-link:active {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-color: #ef1197;
    outline-color: #ef1197; }
  @media screen and (max-width: 50em) {
    .random-link {
      margin-top: 1em; } }

.content__wrapper {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.content__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1vh;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.content__item {
  padding: 0 1em 1em;
  margin: 1vh;
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 31.33333%;
      -ms-flex: 1 0 31.33333%;
          flex: 1 0 31.33333%; }
  .content__item:hover {
    background: rgba(0, 0, 0, 0.9);
    border-color: #ef1197; }
    .content__item:hover .item__title {
      text-decoration: underline;
      color: #ef1197; }

.item__title {
  display: inline-block;
  color: #e2e2e2; }

.searchmatch {
  font-style: italic;
  font-weight: bold;
  color: #f2f2f2; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vh;
  padding: 2vh 0;
  background: rgba(0, 0, 0, 0.6);
  background-clip: padding-box;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2; }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__social__icon {
  margin: 0 1rem; }
  .footer__social__icon:hover .fa {
    color: #ef1197; }

.fa {
  color: #e2e2e2; }
